<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 50%;
    margin:auto;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}
.center{
    margin:auto;
    border:1px solid black;
    text-align: center;
    width:50%;
}
.btn {
  border: none;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

.success {background-color: #4CAF50;} /* Green */
.success:hover {background-color: #46a049;}
    </style>
</head>
<body>
    
<h2 class="center">คำขอลา</h2>

<div class="card">
  <div class="container">
    
    <h4><b>คำขอลา (Leave Request)</b></h4> 
    <p style="text-align:left"><strong>รหัสพนักงาน</strong> <span>1300</span></p>
    <p style="text-align:left"><strong>ชื่อ - สกุล</strong> <span>เตชิต สีหะวงษ์</span></p>
    <p style="text-align:left"><strong>ประเภทการลา</strong> <span>ลาป่วย (ไม่มีใบรับรองแพทย์)</span></p>
    <p style="text-align:left"><strong>เหตุผลในการลา</strong> <span>ไม่สบาย</span></p>
    <p style="text-align:left"><strong>ระหว่างวันที่</strong> <span>25/05/2020</span> <strong>ถึงวันที่</strong> <span>26/05/2020</span></p>
    <p style="text-align:left"><strong>จำนวนวันลา</strong> <span>6 วัน</span></p>
    <p style="text-align:left"><strong>สถานะ</strong> <span>รอการอนุมัติ</span></p>
    <p style="text-align:center"><a href="" class="btn success">เข้าสู่ระบบเพื่อทำการอนุมัติคำขอลา</a></p>
  </div>
</div>
    


</body>
</html>